#Proyecto Recomendación de Peliculas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
peliculas = pd.read_csv('Datos/movies.csv', sep= ",")

In [3]:
peliculas.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [4]:
peliculas = peliculas [['movieId', 'title', 'genres']]

In [5]:
peliculas.head(2)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2    Jumanji (1995)                   Adventure|Children|Fantasy

In [6]:
peliculas.rename(columns={
    "movieId": "ID Película",
    "title": "Título",
    "genres": "Géneros"}, inplace = True)

In [7]:
peliculas.head(2)

   ID Película            Título                                      Géneros
0            1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1            2    Jumanji (1995)                   Adventure|Children|Fantasy

In [8]:
clasificaciones = pd.read_csv('Datos/ratings.csv', sep= ",")

In [9]:
clasificaciones.rename(columns={
    "userId": "ID Usuario",
    "movieId": "ID Película",
    "rating": "Clasificación",
    "timestamp": "Marca de Tiempo"}, inplace = True)

In [10]:
clasificaciones['ID Usuario'].unique().shape

(668,)

In [11]:
clasificaciones.head(2)

   ID Usuario  ID Película  Clasificación  Marca de Tiempo
0           1           16            4.0       1217897793
1           1           24            1.5       1217895807

In [12]:
clasificaciones['ID Usuario'].value_counts()

ID Usuario
668    5678
575    2837
458    2086
232    1421
310    1287
       ...
58       20
51       20
288      20
388      20
257      20
Name: count, Length: 668, dtype: int64

In [13]:
x = clasificaciones['ID Usuario'].value_counts() > 30

In [14]:
x[x].shape

(541,)

In [15]:
y = x[x].index

In [16]:
y

Index([668, 575, 458, 232, 310, 475, 128, 224, 607,  63,
       ...
       639, 507, 385, 648, 162, 227, 658, 356, 486, 165],
      dtype='int64', name='ID Usuario', length=541)

In [17]:
# Creo un DataFrame filtrado para usuarios con más de 30 clasificaciones
clasificaciones_filtradas = clasificaciones[clasificaciones['ID Usuario'].isin(y)]

In [20]:
clasificaciones_filtradas.head()

   ID Usuario  ID Película  Clasificación  Marca de Tiempo
0           1           16            4.0       1217897793
1           1           24            1.5       1217895807
2           1           32            4.0       1217896246
3           1           47            4.0       1217896556
4           1           50            4.0       1217896523

In [22]:
peliculas.head()

,ID Película,Título,Géneros
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [23]:
clasificaciones_Con_Peliculas = clasificaciones.merge(peliculas, on = "ID Película")

In [26]:
clasificaciones_Con_Peliculas.head(2)

,ID Usuario,ID Película,Clasificación,Marca de Tiempo,Título,Géneros
0,1,16,4.0,1217897793,Casino (1995),Crime|Drama
1,9,16,4.0,842686699,Casino (1995),Crime|Drama

In [29]:
numero_Clasificacion = clasificaciones_Con_Peliculas.groupby("Título")['Clasificación'].count().reset_index()

In [31]:
numero_Clasificacion.head(2)

                                    Título  Clasificación
0                               '71 (2014)              1
1  'Hellboy': The Seeds of Creation (2004)              1

In [32]:
numero_Clasificacion.rename(columns={
    "Clasificación": "Cantidad de Clasificaciónes"}, inplace = True)

In [33]:
numero_Clasificacion.head(2)

                                    Título  Cantidad de Clasificaciónes
0                               '71 (2014)                            1
1  'Hellboy': The Seeds of Creation (2004)                            1

In [35]:
#Dataframe final y limpio
clasificaciones_Finales = clasificaciones_Con_Peliculas.merge(numero_Clasificacion, on = 'Título')

In [36]:
clasificaciones_Finales.head(2)

,ID Usuario,ID Película,Clasificación,Marca de Tiempo,Título,Géneros,Cantidad de Clasificaciónes
0,1,16,4.0,1217897793,Casino (1995),Crime|Drama,84
1,9,16,4.0,842686699,Casino (1995),Crime|Drama,84

In [37]:
clasificaciones_Finales.shape

(105339, 7)

In [38]:
clasificaciones_Finales = clasificaciones_Finales[clasificaciones_Finales['Cantidad de Clasificaciónes']>29]

In [39]:
clasificaciones_Finales.shape

(60177, 7)

In [44]:
clasificaciones_Finales.drop_duplicates(['ID Usuario','Título'], inplace = True)

In [45]:
clasificaciones_Finales.shape

(60175, 7)

In [ ]:
#Dataframe: clasificaciones_Finales listo al 100% ahora toca aplicar la tabla Pivot

In [46]:
peliculas_Tabla_Pivot = clasificaciones_Finales.pivot_table(columns='ID Usuario', index= "Título", values = 'Clasificación')

In [47]:
peliculas_Tabla_Pivot

ID Usuario,1,2,3,4,5,6,7,8,9,10,...,659,660,661,662,663,664,665,666,667,668
Título,,,,,,,,,,,,,,,,,,,,,
(500) Days of Summer (2009),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
10 Things I Hate About You (1999),NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,5.0,...,2.5,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,2.0
101 Dalmatians (1996),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
101 Dalmatians (One Hundred and One Dalmatians) (1961),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
12 Angry Men (1957),NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,4.5,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Young Frankenstein (1974),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
Young Guns (1988),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.5
Zombieland (2009),NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.5
Zoolander (2001),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.5
¡Three Amigos! (1986),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0

In [49]:
peliculas_Tabla_Pivot.fillna(0, inplace = True)

In [50]:
peliculas_Tabla_Pivot

ID Usuario,1,2,3,4,5,6,7,8,9,10,...,659,660,661,662,663,664,665,666,667,668
Título,,,,,,,,,,,,,,,,,,,,,
(500) Days of Summer (2009),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
10 Things I Hate About You (1999),0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,5.0,...,2.5,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,2.0
101 Dalmatians (1996),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
101 Dalmatians (One Hundred and One Dalmatians) (1961),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
12 Angry Men (1957),0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.5,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Young Frankenstein (1974),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
Young Guns (1988),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5
Zombieland (2009),0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5
Zoolander (2001),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.5
¡Three Amigos! (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [53]:
from scipy.sparse import csr_matrix

In [54]:
pelicula_sparce = csr_matrix(peliculas_Tabla_Pivot)

In [55]:
pelicula_sparce

<888x668 sparse matrix of type '<class 'numpy.float64'>'
	with 60175 stored elements in Compressed Sparse Row format>

In [60]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm = 'brute')

In [61]:
model.fit(pelicula_sparce)

NearestNeighbors(algorithm='brute')

In [66]:
#se selecciona la muestra, se encuentran los vecinos más cerca, almacena los resultados
distancia, sugerencia = model.kneighbors(peliculas_Tabla_Pivot.iloc[101,:].values.reshape(1,-1), n_neighbors=5)

In [67]:
distancia

array([[ 0.        , 23.61143791, 26.2202212 , 26.2297541 , 26.27260931]])

In [68]:
sugerencia

array([[101, 102, 224, 443, 340]], dtype=int64)

In [69]:
#Para leer las sugerencias, con el ciclo porque son más de un sugerencia
for i in range(len(sugerencia)):
    print(peliculas_Tabla_Pivot.index[sugerencia[i]])

Index(['Blade (1998)', 'Blade II (2002)', 'Dick Tracy (1990)',
       'Jurassic Park III (2001)', 'Godzilla (1998)'],
      dtype='object', name='Título')

In [73]:
#Linea para conocer el titulo de un indice de la tabla pivot
peliculas_Tabla_Pivot.index[101]

'Blade (1998)'

In [74]:
#Almaceno los nombres de pelis de la tabla pivot 
peliculas_Nombre = peliculas_Tabla_Pivot.index

In [76]:
import pickle
pickle.dump(model, open('activos/model.pkl', 'wb'))
pickle.dump(peliculas_Nombre, open('activos/peliculas_Nombre.pkl', 'wb'))
pickle.dump(clasificaciones_Finales, open('activos/clasificaciones_Finales.pkl', 'wb'))
pickle.dump(peliculas_Tabla_Pivot, open('activos/peliculas_Tabla_Pivot.pkl', 'wb'))

In [78]:
#Función para recomendar pelicula de acuerdo al número de indice del nombre dado como parámetro
def recomendar_Pelicula(nombre_Pelicula):
    pelicula_id = np.where(peliculas_Tabla_Pivot.index == nombre_Pelicula)[0][0]
    distancia, sugerencia = model.kneighbors(peliculas_Tabla_Pivot.iloc[pelicula_id,:].values.reshape(1,-1), n_neighbors=5)

    for i in range(len(sugerencia)):
        peliculas = peliculas_Tabla_Pivot.index[sugerencia[i]]
        for j in peliculas:
            print(j)

In [ ]:
#Función recomendar_Pelicula prueba
nombre_Pelicula = 'Toy Story (1995)'
recomendar_Pelicula(nombre_Pelicula)